.ProfileMain{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 502px;
    overflow-x: hidden;
}

.person-personality{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.share-posts{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}