.posts_container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 381px;
    border: 5px solid black;
    overflow-y: scroll;
}

.box-final-height{
   height: auto;
}

.avatar-info-spred-box{
    display: grid;
    grid-template-columns: 160px 70px;
    grid-template-rows: 60px;
    justify-content: space-between;
}


.spred{
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 2.5rem;
    padding: 10px;
    align-content: baseline;
}

.spred-span{
cursor: pointer;    
}


.avatar-info{
display: grid;
grid-template-columns: auto auto;
grid-template-rows: 60px;
padding: 10px;
align-items: start;
justify-content: space-around;


}

.avatarinfo-avatar{
    cursor: pointer;
}

.avatar-info-p{
cursor: pointer;
}

/* post media css */

.posts-media{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 350px;
    border: 5px solid red;
}

/* main-posts-descriptions */

.main-posts-descriptions{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px;
    border: 2px solid purple;
}

.main-post-transitions{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px;
    border: 3px solid yellow;
}