.bottomcontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    height: 30px;
    padding: 10px;
    
}

.itembottomnav{
    text-decoration: none;
    background-color: inherit;
    color: black;
}