

.Explore-main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.explore-posts-container {
    max-height: 490px; 
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

.gridPostes, .gridPostes-2 {
 border: 2px solid gray;
    height: 150px; 
}
