.body{
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 375px;
  min-height: 624px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}